{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Countries</h2>


    <!-- Country Data Table -->
    <table class="table">
        <!-- For Countries -->
        <tr>
            <th>
                <ul>
                    {% for country in country_page %}
                        <li>
                            <a href="{% url 'country_details' iso_country=country.code %}" class="highlighted-cell">
                                {{ country.label }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="pagination">
                    {% if country_page.has_previous %}
                        <a href="?country_page={{ country_page.previous_page_number }}&region_page={{ regions_page.number }}">Previous</a>
                    {% endif %}
                    <span>Page {{ country_page.number }} of {{ country_page.paginator.num_pages }}</span>
                    {% if country_page.has_next %}
                        <a href="?country_page={{ country_page.next_page_number }}&region_page={{ regions_page.number }}">Next</a>
                    {% endif %}
                </div>
            </th>
        </tr>
        
        
        
    </table>
</div>
{% endblock %}
