{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Country Details: {{ country_data.name }}</h2>
    <table class="table">
        <tr><th>Code</th><td>{{ country_data.code }}</td></tr>
        <tr><th>Name</th><td>{{ country_data.name }}</td></tr>
        <tr><th>Continent</th><td><a href="/continent/{{ country_data.continent }}" class="highlighted-cell">{{ country_data.continent }}</a></td></tr>
        <tr><th>Airports</th><td><a href="/airports/{{ country_data.airports }}" class="highlighted-cell">{{ country_data.airports }}</a></td></tr>
        <tr><th>Regions Contained</th><td><a href="/regions/{{ country_data.regions_contained }}" class="highlighted-cell">{{ country_data.regions_contained }}</a></td></tr>
        <tr><th>Region is Contained In</th><td><a href="/region/{{ country_data.region_is_contained_in }}" class="highlighted-cell">{{ country_data.region_is_contained_in }}</a></td></tr>
        <tr><th>Population</th><td>{{ country_data.population }}</td></tr>
        <tr><th>Area</th><td>{{ country_data.area }}</td></tr>
        <tr><th>Population Density</th><td>{{ country_data.pop_density }}</td></tr>
        <tr><th>Coastline</th><td>{{ country_data.coastline }}</td></tr>
        <tr><th>Net Migration</th><td>{{ country_data.net_migration }}</td></tr>
        <tr><th>Infant Mortality</th><td>{{ country_data.infant_mortality }}</td></tr>
        <tr><th>GDP</th><td>{{ country_data.gdp }}</td></tr>
        <tr><th>Literacy Rate</th><td>{{ country_data.literacy }}</td></tr>
        <tr><th>Phones</th><td>{{ country_data.phones }}</td></tr>
        <tr><th>Arable</th><td>{{ country_data.arable }}</td></tr>
        <tr><th>Crops</th><td>{{ country_data.crops }}</td></tr>
        <tr><th>Other</th><td>{{ country_data.other }}</td></tr>
        <tr><th>Climate</th><td>{{ country_data.climate }}</td></tr>
        <tr><th>Birthrate</th><td>{{ country_data.birthrate }}</td></tr>
        <tr><th>Deathrate</th><td>{{ country_data.deathrate }}</td></tr>
        <tr><th>Agriculture</th><td>{{ country_data.agriculture }}</td></tr>
        <tr><th>Industry</th><td>{{ country_data.industry }}</td></tr>
        <tr><th>Service</th><td>{{ country_data.service }}</td></tr>
    </table>
</div>
{% endblock %}
