{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Region Details: {{ region_data.name }}</h2>
    <table class="table">
        <tr><th>ID</th><td>{{ region_data.id }}</td></tr>
        <tr><th>Code</th><td>{{ region_data.code }}</td></tr>
        <tr><th>Local Code</th><td>{{ region_data.local_code }}</td></tr>
        <tr><th>Name</th><td>{{ region_data.name }}</td></tr>
        <tr><th>Continent</th><td><a href="/continent/{{ region_data.continent }}" class="highlighted-cell">{{ region_data.continent }}</a></td></tr>
        <tr><th>ISO Country</th><td><a href="/country/{{ region_data.iso_country }}" class="highlighted-cell">{{ region_data.iso_country }}</a></td></tr>
        <tr><th>Airports</th><td><a href="/airports/{{ region_data.airports }}" class="highlighted-cell">{{ region_data.airports }}</a></td></tr>
    </table>
</div>
{% endblock %}
